In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [19]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)

Label encoding for Gender and OneHotEncoder for Geography

In [21]:
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])

## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()

geo_encoder=onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
onehot_encoder_geo.get_feature_names_out(['Geography'])
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [22]:
## Combine one hot encoder columns with the original data
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [23]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(encoder,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [24]:
## DiVide the dataset into indepent and dependent features
X=df.drop('Exited',axis=1)
y=df['Exited']

In [25]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [26]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Implementation

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [28]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
])

In [29]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [31]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [32]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [33]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 3s 9ms/step - loss: 0.4041 - accuracy: 0.8266 - val_loss: 0.3569 - val_accuracy: 0.8570
Epoch 2/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3574 - accuracy: 0.8520 - val_loss: 0.3503 - val_accuracy: 0.8575
Epoch 3/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3469 - accuracy: 0.8579 - val_loss: 0.3414 - val_accuracy: 0.8600
Epoch 4/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3458 - accuracy: 0.8589 - val_loss: 0.3461 - val_accuracy: 0.8555
Epoch 5/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3373 - accuracy: 0.8597 - val_loss: 0.3563 - val_accuracy: 0.8565
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8604 - val_loss: 0.3472 - val_accuracy: 0.8510
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3374 - accuracy: 0.8611 - val_loss: 0.3448 - val_accuracy: 0.8585
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3334 - accuracy: 0.8631 - val_loss: 0.3393 - val_accuracy: 0.8630
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3300 - accuracy: 0.8634 - val_loss: 0.3459 - val_accuracy: 0.8585
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3290 - accuracy: 0.8641 - val_loss: 0.3426 - val_accuracy: 0.8615
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3275 - accuracy: 0.8625 - val_loss: 0.3420 - val_accuracy: 0.8620
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3239 - accuracy: 0.8649 - val_loss: 0.3430 - val_accuracy: 0.8595
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3225 - accuracy: 0.8662 - val_loss: 0.3465 - val_accuracy: 0.8650
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3200 - accuracy: 0.8684 - val_loss: 0.3599 - val_accuracy: 0.8545
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3172 - accuracy: 0.8685 - val_loss: 0.3427 - val_accuracy: 0.8620
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3176 - accuracy: 0.8675 - val_loss: 0.3502 - val_accuracy: 0.8605
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3136 - accuracy: 0.8691 - val_loss: 0.3521 - val_accuracy: 0.8620
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3112 - accuracy: 0.8712 - val_loss: 0.3677 - val_accuracy: 0.8565

In [34]:
model.save('model.h5')

/Users/foram/Documents/ANN Classification/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(